.modalMain {
    background-color: #00000000;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    transition: .7s;
    cursor: pointer;
}

.active {
    display: flex;
    transition: .7s;
    background-color: #00000090;
}

.modalContent {
    background-color: var(--white);
    border-radius: 7px;
    padding: 20px;
    cursor: default;
}