.content {
    position: relative;
    width: 100%;
    font-family: 'AF_RobotoLight';
}

.recipe_description {
    border-top: 1px solid #00000030;
    border-bottom: 1px solid #00000030;
    padding: 15px 0;
    margin-top: 15px;
}

.recipe_ingridients {
    margin-top: 15px;
}

.recipe_steps {
    margin-top: 15px;
}