.recipe_step {
    background-color: var(--white);
    border-radius: 5px;
    padding: 10px;
    margin: 0 0 15px 0;
    display: flex;
}

.recipe_step_photo {
    min-width: 350px;
    width: 350px;
    max-width: 350px;
    min-height: 230px;
    height: 230px;
    max-height: 230px;
    background-color: var(--olive);
}

.recipe_step_text {
    margin: 10px 0 0 15px;
}