.recipesCard {
    display: flex;
    background-color: var(--white);
    padding: 10px;
    height: 175px;
    margin-bottom: 15px;
}

.cover {
    width: 175px;
    min-width: 175px;
    height: 100%;;
}

.discription {
    width: 90%;
    height: 100%;
    padding: 0px 20px;
}

.stat {
    display: flex;
    flex-wrap: wrap;
    align-items: space-around;
    width: 175px;
    min-width: 175px;
    height: 100%;
    padding: 0px 20px;
}

.links {
    color: var(--brown);
    font-size: 9pt;
}
.delim {
    font-size: 9pt;
    padding: 0 7px;
}

.name {
    font-size: 20pt;
    margin: 5px 0;
}

.text {
    font-size: 12pt;
}

.data {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: space-around;
}

.control {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
