.inOutFavorite {
    background-color: var(--milc);
    border: 1px solid var(--brown);
    border-radius: 5px;
    padding: 3px 12px;
    width: 135px;
    cursor: pointer;
    font-family: 'AF_RobotoLight';
}

.inOutFavorite:after {
    content: 'В избранное';
}

.inOutFavorite:before {
    width: 15px;
    height: 15px;
    background: url('/public/icons/star.svg');
    background-size: contain;
    display: inline-block;
    content: ' ';
    margin-right: 7px;
    margin-top: 2px;
}



.action:before {
    width: 15px;
    height: 15px;
    background: url('/public/icons/starA.svg') no-repeat;
    fill: #fff;
    background-size: contain;
    display: inline-block;
    content: ' ';
    margin-right: 7px;
    margin-top: 2px;
}

.action:after {
    content: 'Из избранного';
}