h1,h2,h3,h4,h5,h6 {
    font-family: 'AF_RobotoLight';
}

.mainCont {
    position: relative;
    width: 100%;
}

.carousel {
    display: block;
    /* background-color: var(--olive); */
    height: 350px;
}

.posts { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.post {
    display: block;
    position: relative;
    width: calc( 32% - 20px);
    margin-bottom: 20px;
    border: 1px solid #00000020;
    padding: 10px;
}

.picture {
    height: 250px;
    width: 100%;
}

.description {
    width: 100%;
    font-family: 'AF_RobotoLight';
    color: var(--dark);
    box-sizing: border-box;
    transition: .2s;
    margin-top: 15px;
}

.name {
    font-family: 'AF_Roboto';
    font-weight: 600;
    font-size: 14pt;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.text {
    height: 60px;
    margin-top: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 12pt;
}
.links {
    color: var(--link);
    font-size: 12pt;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}