h1 {
    font-family: 'AF_Roboto';
}

.mainCont {
    position: relative;
    width: 100%;
}

.posts { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.lastPost {
    display: block;
    position: relative;
    cursor: pointer;
    width: calc( 50% - 10px);
    height: 250px;
    margin-bottom: 20px;
}

.post {
    display: block;
    position: relative;
    cursor: pointer;
    width: calc( 32% );
    height: 250px;
    margin-bottom: 20px;
}

.description {
    position: absolute;
    width: 100%;
    height: 130px;
    bottom: 0;
    padding: 10px;
    font-family: 'AF_RobotoLight';
    color: var(--white);
    background: linear-gradient(#00000000, #000000c0 60%);
    box-sizing: border-box;
    transition: .2s;
}
.post:hover .description, .lastPost:hover .description {
    height: 250px;
    bottom: 0px;
    transition: .2s;
}

.name {
    font-family: 'AF_Roboto';
    font-weight: 600;
    font-size: 14pt;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.text {
    height: 60px;
    margin-top: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 12pt;
}
.links {
    color: var(--link);
    font-size: 12pt;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}