.contentCont {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

.content {
    position: relative;
    display: flex;
    width: 1100px;
    max-width: 1100px;
    margin: auto;
    background-color: var(--white);
    padding: 20px;
    box-sizing: border-box;
}