.headerCont {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: var(--white);
}
 .header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: 0 20px;
    box-sizing: border-box;
 }