.contain {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
}

.box {
    position: relative;
    width: 380px;
    height: auto;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nameBox {
    font-family: 'AF_Roboto';
    font-size: 20pt;
    color: var(--dark);
    text-align: center;
}

.box div {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}

.box input {
    width: 260px;
    height: 35px;
    border: none;
    border-bottom: 1px solid #00000020;
    outline: none;
    transition: border 0.5s;
    padding: 3px 7px;
    box-sizing: border-box;
}
.box input:focus {
    border-bottom: 1px solid #ff0000;
    transition: border 0.5s;
}