.navCont {
    display: flex;
    justify-content: space-between;
}

.navCont a {
    color: var(--emerald);
    text-decoration: none;
    font-family: 'AF_RobotoLight';
    font-size: 13pt;
}

.navCont a:hover {
    color: var(--emerald);
    font-weight: 600;
}
