.navCont {
    display: flex;
    justify-content: space-between;
}

a {
    color: var(--brown);
    text-decoration: none;
    font-family: 'AF_RobotoLight';
    font-size: 13pt;
}

a:hover {
    color: var(--brown);
    font-weight: 600;
}
